<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar mb-3">
    <h4>Simple Airbnb</h4>
    <p> <%= link_to "Add Flat", new_flat_path, class: "btn btn-primary" %></p>
  
  </div>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
